In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path
import numpy as np

# File to Load

raw_file_path = Path("Resources/Conditions_Contributing_to_COVID-19_Deaths__by_State_and_Age__Provisional_2020-2023.csv")

# Read the raw data file and store into pandas dataframe

raw_covid_data = pd.read_csv(raw_file_path)
raw_covid_data.head(5)

,Data As Of,Start Date,End Date,Group,Year,Month,State,Condition Group,Condition,ICD10_codes,Age Group,COVID-19 Deaths,Number of Mentions,Flag
0,09/24/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,0-24,1569.0,1647.0,NaN
1,09/24/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,25-34,5804.0,6029.0,NaN
2,09/24/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,35-44,15080.0,15699.0,NaN
3,09/24/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,45-54,37414.0,38878.0,NaN
4,09/24/2023,01/01/2020,09/23/2023,By Total,NaN,NaN,United States,Respiratory diseases,Influenza and pneumonia,J09-J18,55-64,82668.0,85708.0,NaN

In [2]:
# Show the overview of the columns

raw_covid_data.columns

Index(['Data As Of', 'Start Date', 'End Date', 'Group', 'Year', 'Month',
       'State', 'Condition Group', 'Condition', 'ICD10_codes', 'Age Group',
       'COVID-19 Deaths', 'Number of Mentions', 'Flag'],
      dtype='object')

In [3]:
# Creata a dataframe with the necessary columns to be used for the interactive dashboard

filtered_covid_data = raw_covid_data[['Year', 'Month', 'Group', 'State', 'Condition', 'Age Group', 'COVID-19 Deaths']]
filtered_covid_data

,Year,Month,Group,State,Condition,Age Group,COVID-19 Deaths
0,NaN,NaN,By Total,United States,Influenza and pneumonia,0-24,1569.0
1,NaN,NaN,By Total,United States,Influenza and pneumonia,25-34,5804.0
2,NaN,NaN,By Total,United States,Influenza and pneumonia,35-44,15080.0
3,NaN,NaN,By Total,United States,Influenza and pneumonia,45-54,37414.0
4,NaN,NaN,By Total,United States,Influenza and pneumonia,55-64,82668.0
...,...,...,...,...,...,...,...
620995,2023.0,5.0,By Month,Puerto Rico,COVID-19,All Ages,67.0
620996,2023.0,6.0,By Month,Puerto Rico,COVID-19,All Ages,122.0
620997,2023.0,7.0,By Month,Puerto Rico,COVID-19,All Ages,114.0
620998,2023.0,8.0,By Month,Puerto Rico,COVID-19,All Ages,78.0
620999,2023.0,9.0,By Month,Puerto Rico,COVID-19,All Ages,36.0

In [4]:
# Filter the csv based on these parameters:
# Condition: COVID-19
# Age Group: Filter out "All Ages"
# Group: Show data "By Month"
# States: Filter out "New York City", "District of Columbia", "Puerto Rico", and "United States"

filtered_covid_data = filtered_covid_data[
    (filtered_covid_data["Condition"] == "COVID-19") &
    (filtered_covid_data["Group"] == "By Month") &
    ~(filtered_covid_data["State"].isin(["District of Columbia", "New York City", "Puerto Rico", "United States"])) &
    ~(filtered_covid_data["Age Group"].isin(["All Ages"]))
]

filtered_covid_data.reset_index(drop=True)

         Year  Month     Group    State Condition   Age Group  COVID-19 Deaths
0      2020.0    1.0  By Month  Alabama  COVID-19        0-24              0.0
1      2020.0    2.0  By Month  Alabama  COVID-19        0-24              0.0
2      2020.0    3.0  By Month  Alabama  COVID-19        0-24              0.0
3      2020.0    4.0  By Month  Alabama  COVID-19        0-24              0.0
4      2020.0    5.0  By Month  Alabama  COVID-19        0-24              0.0
...       ...    ...       ...      ...       ...         ...              ...
20245  2023.0    5.0  By Month  Wyoming  COVID-19  Not stated              0.0
20246  2023.0    6.0  By Month  Wyoming  COVID-19  Not stated              0.0
20247  2023.0    7.0  By Month  Wyoming  COVID-19  Not stated              0.0
20248  2023.0    8.0  By Month  Wyoming  COVID-19  Not stated              0.0
20249  2023.0    9.0  By Month  Wyoming  COVID-19  Not stated              0.0

[20250 rows x 7 columns]

In [5]:
# Now that the data is showing only COVID-19 related deaths, we can delete that column as it is repeating

filtered_covid_data = filtered_covid_data.drop("Condition", axis = 1)
filtered_covid_data

          Year  Month     Group    State   Age Group  COVID-19 Deaths
82350   2020.0    1.0  By Month  Alabama        0-24              0.0
82351   2020.0    2.0  By Month  Alabama        0-24              0.0
82352   2020.0    3.0  By Month  Alabama        0-24              0.0
82353   2020.0    4.0  By Month  Alabama        0-24              0.0
82354   2020.0    5.0  By Month  Alabama        0-24              0.0
...        ...    ...       ...      ...         ...              ...
610600  2023.0    5.0  By Month  Wyoming  Not stated              0.0
610601  2023.0    6.0  By Month  Wyoming  Not stated              0.0
610602  2023.0    7.0  By Month  Wyoming  Not stated              0.0
610603  2023.0    8.0  By Month  Wyoming  Not stated              0.0
610604  2023.0    9.0  By Month  Wyoming  Not stated              0.0

[20250 rows x 6 columns]

In [6]:
# soring the dataset

filtered_covid_data = filtered_covid_data.sort_values(by=['State', 'Year', 'Month'])
filtered_covid_data.reset_index(drop=True)

         Year  Month     Group    State   Age Group  COVID-19 Deaths
0      2020.0    1.0  By Month  Alabama        0-24              0.0
1      2020.0    1.0  By Month  Alabama       25-34              0.0
2      2020.0    1.0  By Month  Alabama       35-44              0.0
3      2020.0    1.0  By Month  Alabama       45-54              0.0
4      2020.0    1.0  By Month  Alabama       55-64              NaN
...       ...    ...       ...      ...         ...              ...
20245  2023.0    9.0  By Month  Wyoming       55-64              0.0
20246  2023.0    9.0  By Month  Wyoming       65-74              0.0
20247  2023.0    9.0  By Month  Wyoming       75-84              NaN
20248  2023.0    9.0  By Month  Wyoming         85+              NaN
20249  2023.0    9.0  By Month  Wyoming  Not stated              0.0

[20250 rows x 6 columns]

In [7]:
# checking the number of values in each column
filtered_covid_data.count()

Year               20250
Month              20250
Group              20250
State              20250
Age Group          20250
COVID-19 Deaths    14417
dtype: int64

In [8]:
# fill the null value with zero to avoid issue with any consecutive sereies.
filtered_covid_data['COVID-19 Deaths'] = filtered_covid_data['COVID-19 Deaths'].fillna(0)
# checking again the number of values in each column
filtered_covid_data.count()

Year               20250
Month              20250
Group              20250
State              20250
Age Group          20250
COVID-19 Deaths    20250
dtype: int64

In [9]:
# Change the datatypes of the dataframe without the condition column

# Change the float64 datatypes to integers

filtered_covid_data['Year'] = filtered_covid_data['Year'].astype(np.int64)
filtered_covid_data['Month'] = filtered_covid_data['Month'].astype(np.int64)
filtered_covid_data['COVID-19 Deaths'] = filtered_covid_data['COVID-19 Deaths'].astype(np.int64)

filtered_covid_data.dtypes

Year                int64
Month               int64
Group              object
State              object
Age Group          object
COVID-19 Deaths     int64
dtype: object

In [10]:
# Export this new dataframe without the conditons column and the blank values within COVID-19 Deaths

filtered_covid_data.to_csv("Resources/cleaned_covid_data.csv", index = False)